@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

h1 {
	text-align: center;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 3em;
	color: rgb(255, 230, 0);
}

.hiddenword {
	text-align: center;
	width: 100%;
	padding: 10px;
	line-height: 40px;
}
.hiddenword span {
	margin: 10px;
	font-size: 25px;
}

.blankspaces {
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.keyboard {
	width: 45%;
	height: 30%;
	margin-right: 5%;
	margin-left: 15%;
}

.keyboardletter {
	padding: 6px 10px;
	margin: 2px;
	font-family: monospace;
	font-size: 16px;
	outline: none;
}

nav {
	display: flex;
	justify-content: space-evenly;
}

button {
	border-radius: 10px;
}

nav button {
	margin: 10px;
	font-size: 16px;
	width: 50%;
	padding: 3px 6px;
	font-family: fantasy;
}

p {
	text-align: center;
}

/* hide the letter */
.underline {
	color: transparent;
	font-family: monospace;
	text-decoration: none;
	padding: 0.2em;
	border-bottom: 3px solid rgb(6, 10, 77);
	margin-left: 2em;
}

/* for space */
.nounderline {
	color: black;
	font-family: monospace;
	text-decoration: none;
	padding: 0.2em;
	margin-left: 2em;
}

.letterShowup {
	color: lightcoral;
	font-size: 25px;
	font-weight: 600;
	font-family: monospace;
}

.show {
	display: inline-block;
}

.noshow {
	display: none;
}

.keyboard .turnred {
	background: lightcoral;
	color: black;
}

.keyboard .turngrey {
	background: grey;
	color: darkgrey;
}

.keyboardreset {
	background: white;
	color: black;
}

.leaves {
	position: absolute;
	max-width: 100%;
	height: auto;
	left: 612px;
	top: 303px;
}

.petal0 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 714.24px;
	top: 480.28px;
}

.petal1 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 764.5px;
	top: 479.36px;
}

.petal4 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 744.49px;
	top: 499.33px;
}

.petal2 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 733.35px;
	top: 447.63px;
}

.petal3 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 751.5px;
	top: 450.76px;
}

.petal5 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 754.94px;
	top: 470.51px;
}

.petal6 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 772.45px;
	top: 484px;
}

.petal0Fall {
	transform: translate3d(-35px, 200px, 0px);
	transition: all 3s ease-in-out 0.5s;
}

.petal1Fall {
	transform: translate3d(0px, 200px, 40px);
	transition: all 3s ease-in-out 0.5s;
}
.petal2Fall {
	transform: translate3d(-30px, 200px, 0px);
	transition: all 3s ease-in-out 0.5s;
}
.petal3Fall {
	transform: translate3d(0px, 200px, 30px);
	transition: all 3s ease-in-out 0.5s;
}
.petal4Fall {
	transform: translate3d(-15px, 200px, 0px);
	transition: all 3s ease-in-out 0.5s;
}
.petal5Fall {
	transform: translate3d(-10px, 200px, 10px);
	transition: all 3s ease-in-out 0.5s;
}
.petal6Fall {
	transform: translate3d(-5px, 200px, 0px);
	transition: all 3s ease-in-out 0.5s;
}

.choosecategory {
	color: rgb(6, 7, 63);
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: fantasy;
}

.categoryButtonColor {
	background: skyblue;
}

.happening {
	margin-left: 5em;
	margin-top: 2em;
	font-family: fantasy;
	font-weight: bold;
}

.result {
	font-size: 24px;
	font-weight: 600;
	font-family: 'Kaushan Script', sans-serif;
	color: rgb(6, 26, 65);
	height: 50%;
	width: 60%;
}

.buttonHover:hover,
.cssreset:hover,
.modalbuttons:hover {
	background-color: paleturquoise;
}

.tracker {
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 18px;
	font-weight: 700;
	font-family: fantasy;
	color: rgb(70, 159, 182);
	-webkit-text-stroke: 0.4px rgb(9, 11, 105);
}

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#gameRule {
	background-color: white;
	height: 500px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
}

#gameRule p {
	text-align: start;
}

#modal-footer {
	text-align: right;
}

.modalbuttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

#aboutGame {
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgb(82, 105, 139);
	font-family: fantasy;
	border-radius: 10px;
}

.cssreset {
	padding: 10px;
	padding-left: 2px;
	background-image: url(image/buttonimage.png);
	background-color: transparent;
	background-repeat: no-repeat;
	outline: none;
	color: rgb(172, 11, 11);
	font-family: 'Kaushan Script', sans-serif;
	bottom: 20px;
	width: 300px;
	font-size: 20px;
	font-weight: 700;
	margin-left: 200px;
	margin-bottom: 40px;
	background-position: 0px 0px;
	border: none;
}

h2 {
	padding-bottom: 15px;
	text-align: center;
}

.showresult {
	display: flex;
	flex-direction: column;
	height: 30%;
}

/* responsive */
main {
	height: 60%;
}

.playground {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	margin: 30px auto;
	position: relative;
	max-width: 1000px;
	min-width: 500px;
	background: linear-gradient(
		to bottom right,
		rgb(7, 25, 58),
		rgb(247, 241, 188)
	);
}

footer {
	display: flex;
	padding: 5px;
	/* background: crimson; */
	justify-content: left;
	align-items: center;
	height: 15%;
	width: 100%;
}

header {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

@media only screen and (max-width: 500px) {
	.playground {
		width: 50%;
	}
	.mainpart {
		display: flex;
		flex-direction: column;
	}
}
