.hiddenword {
	margin: 2em;
}

/* hide the letter */
.underline {
	color: transparent;
	font-family: monospace;
	text-decoration: none;
	padding: 0.5em;
	border-bottom: 2px solid black;
	margin-left: 0.5em;
}

/* for space */
.nounderline {
	color: black;
	font-family: monospace;
	text-decoration: none;
	padding: 0.5em;
	margin-left: 0.5em;
}

.showup {
	color: black;
}

.keyboard .turnred {
	background: lightcoral;
	color: black;
}

.turngrey {
	background: grey;
	color: darkgrey;
}
